:root {
--darkgreen: #404b48;
--bluegrey: #799ead;
--light: #c3f1bd;
}
::selection {
background-color:var(--darkgreen);
color: var(--bluegrey);
}

body {
    font-size: 130%;
    font-family: OCR A, 'Courier New', Courier, monospace;
    background-image: linear-gradient( 45deg,
    var(--bluegrey) 0%, var(--light) 100%);
}

header h1{
    font-size: 300%;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
header .page-title-caption {
    font-size: 150%;
    text-align: center;
}
header nav {
    text-align: right;
}

header nav ul li {
    display: inline;
    padding: 20px;
}
