:root {
--textcolor: #f7f7f7;
--bluegrey: #6094a8;
--light: #92cf89;
--accent: rgb(255, 217, 0);

}
::selection {
background-color:var(--textcolor);
color: var(--bluegrey);
}

body {
    color: var(--textcolor);
    font-size: 130%;
    font-family: OCR A, 'Courier New', Courier, monospace;
    background-image: linear-gradient( 45deg,
    var(--bluegrey) 0%, var(--light) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header h1{
    font-size: 300%;
    margin: 5px 0px 0px 5px;
}

header #page-title-caption {
    font-size: 150%;
    margin-left: 60px;
    border: var(--accent);
    border-radius: 15%;


}

header nav {
    text-align: right;
    
}

header nav ul li {
    display: inline-flex;
    margin:  20px 20px 0px 0px;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;

}

h3{
    font-size: 200%;
    margin: 10px 50px 10px 0px;
}


#coding-projects-title{
    text-align: right;
}

.placeholder-images {
    display: flex;
    flex-direction: row;
    
  }

  .project1,
  .project2,
  .project3,
  .project4{
    position: relative;
    text-align: center;
    color: white;
  }


  #project1title,
  #project2title,
  #project3title,
  #project4title{
    position: absolute;
    top: 4px;
    left: 8px;
  }
  
  .project1 img {
    width: 100%;
    height: 100%;
  }
  
  .second {
    width: 50%;
    height: 50%;
    margin-left: 3.5%;
  }
  
  .project2 img,
  .project3 img,
  .project4 img{
      margin: 0px 30px 30px 0px;
  }

#imageandp{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

p{
    max-width: 100%;
}

.my-info{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.my-info-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.my-info-links h4{
    margin: 50px;
}

footer{
    text-align: center;
}


@media screen and (min-width: 768px) {
    .placeholder-images {
        max-width: 50%;
    }
}